@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;padding: 0;box-sizing: border-box;

}

body {
    /*background: ; esse é para o texto*/
    background: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

.all {
    display: flex;
    background: hsl(244, 38%, 16%);
    height: 350px;
    color: hsl(0, 0%, 100%);
}

.cnt1 {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.cnt1 span {
    color: hsl(277, 64%, 61%);
}

.cnt1 .title {
    margin-bottom: 25px;
    font-size: 30px;
}

.more {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
    /*margin-right: 30px;*/
    font-size: 13px;
}

.info {
    color: hsla(0, 0%, 100%, 0.75);
}

.subdados {
    display: flex;
}

.dadosM {
    font-size: 25px;
}

.dados {
    margin-right: 50px;
    font-size: 12px;
    margin-bottom: 6px;
}

.attribution {
    color: rgb(107, 102, 102);
    margin-top: 12px;
}

.attribution a {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 1100px) {
    .all .mobile {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .all .desktop {
        display: none;
    }

    .all {
        display: flex;
        flex-direction: column;
        height: 850px;
        width: 450px;
    }

    .more {
        text-align: center;
    }

    .subdados {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin-bottom: 40px;
    }

    .cnt1 {
        padding: 50px;
        width: 450px;
    }

    .cnt1 .title {
        text-align: center;
    }

    .dados {
        margin-right: 0px;
    }

    .dadosM {
        text-align: center;
    }
}

@media screen and (max-width: 565px) {
    .mobile {
        width: 350px;
    }

    .all {
        height: 770px;
        width: 350px;
    }

    .cnt1 .title {
        font-size: 20px;
    }

    .cnt1 {
        width: 350px;
    }

    .dados {
        margin-right: 0px;
    }

    .dadosM {
        text-align: center;
    }

    .attribution {
        font-size: 12px;
    }
}